.axis {
	stroke: #000;
	stroke-width: 1.5px;
}

.node circle {
	stroke: #000;
}

.link {
	fill: none;
	stroke: #999;
	stroke-width: 1.5px;
	stroke-opacity: .3;
}

.link.active {
	stroke: red;
	stroke-width: 2px;
	stroke-opacity: 1;
}

.node circle.active {
	stroke: red;
	stroke-width: 3px;
}
#header {
	margin-left:70px;
}

.buffer{
	width: 70%; 
	height: 100px;
	position: fixed;
	text-align: right;
}

#legend {
	float:left;
	margin-top: 70px;
	margin-left: 30px;
}

#chart {
	float:left;	
	width: 70%;
}

body {
 	margin: 50px 50px;	
}